@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* Header CSS */
header {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .filter {
        display: flex;
        flex-direction: row;

        li{
            margin: 5px;
            padding: 8px 20px;
            width: max-content;
            list-style: none;
            letter-spacing: 1px;
            text-decoration: none;
            background: #ccc;
            color: #000;
            cursor: pointer;

            &.active, &:hover{
                color: white;
                background: #03a9f4;
            }
        }
    
    }
}

/*End Header*/

.product{
    display: flex;
    min-height: 100vh;
    background: #dcdcdc;
    // background: coral;
    flex-direction: column;
    align-items: center; //can giua chieu doc
    
    .list-product {
        display: grid;
        padding: 20px;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 1200px;
        height: 100%;
        // background: coral;

        .item{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 250px;
            height: 430px;
            overflow: hidden;
            background: #fff;
            z-index: 1;

            .picture {
                display: flex;
                width: 250px;
                height: 310px;
                position: relative;
                overflow: hidden;
                z-index: -1;
                
                img {
                    width: 100%;
                    transition: all 0.5s linear;
                }
                
            }
            
            &-content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                width: 250px;
                height: 120px;
                font-size: 20px;
                background: #fff;
                // z-index: 1;
                
                .product-name {
                    // background: tomato;
                    grid-column: 1/3;
                    grid-row: 1/2;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    margin-top: 10px;
                }

                .product-price {
                    // background: crimson;
                    grid-column: 1/2;
                    grid-row: 2/3;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    color: #ff2020;
                    font-weight: 500;
                }

                .product-rate {
                    // background: #ccc;
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }

            &:hover {
                img{
                    transform: scale(1.4);
                }
            }
        }

    }
}