@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

/*Common*/
/*hide product*/
.hide {
    .product .item {
        display: none;
    }
}

/* Header CSS */
header {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .filter {
        display: flex;
        flex-direction: row;

        li{
            margin: 5px;
            padding: 8px 20px;
            width: max-content;
            list-style: none;
            letter-spacing: 1px;
            text-decoration: none;
            background: #ccc;
            color: #000;
            cursor: pointer;
            border-radius: 4px;

            &.active-filter,
            &:hover{
                color: white;
                background: #03a9f4;
            }
        }
    
    }
}

/*End Header*/

.myP {
    p{
        color: #ff2020;
    }
}

/*Product*/ 
.product{
    display: flex;
    min-height: 100vh;
    background: #dcdcdc;
    // background: coral;
    flex-direction: column;
    align-items: center; //can giua chieu doc
    
    .list-product {
        display: grid;
        padding: 20px;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 1200px;
        height: 100%;
        // background: coral;

        .item{
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            position: relative;
            width: 250px;
            height: 430px;
            overflow: hidden;
            background: #fff;
            z-index: 1;
            border-radius: 16px;

            .picture {
                display: flex;
                width: 250px;
                height: 310px;
                position: relative;
                z-index: -1;
                
                .item-picture {
                    object-fit: cover;
                    width: 100%;
                    transition: all 0.5s linear;
                }
                
                .item-button-list {
                    position: absolute;
                    width: 50px;
                    display: flex;
                    flex-direction: column;
                    top: 10px;
                    right: -60px;

                    .item-button-single {
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        list-style-type: none ;
                        width: 80px;
                        height: 40px;
                        margin: 4px;
                        transition: all 0.5s ease;
                        justify-content: flex-end;

                        &:nth-child(1){
                            transition-delay: 0s;
                        }
    
                        &:nth-child(2){
                            transition-delay: 0.1s;
                        }
    
                        &:nth-child(3){
                            transition-delay: 0.3s;
                        }
                        
                        p {
                            display: none;
                            margin-top: auto;
                            margin-bottom: auto;
                            margin-right: 10px;
                            padding: 0 10px;
                            border-radius: 4px;
                            align-items: center;
                            width: max-content;
                            height: 30px;
                            font-size: 12px;
                            font-weight: 900;
                            letter-spacing: 1px;
                            white-space: nowrap;
                            background-color: #fff;
                        }

                        .item-button-icon {
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 40px;
                            padding: 0 16px;
                            cursor: pointer;
                            background-color: #fff;

                            i {
                                font-size: 20px;
                            }
                        }

                        &:hover{
                            p {
                                display: flex;
                            }
                            .item-button-icon{
                                color:#fff;
                                background-color: red;
                            }
                            
                        }
                    }
                }
            }
            
            &-content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                width: 250px;
                height: 120px;
                font-size: 20px;
                background: #fff;
                border-radius: 4px;
                // z-index: 1;
                
                .product-name {
                    // background: tomato;
                    grid-column: 1/3;
                    grid-row: 1/2;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    margin-top: 10px;
                }

                .product-price {
                    // background: crimson;
                    grid-column: 1/2;
                    grid-row: 2/3;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    color: #ff2020;
                    font-weight: 500;
                }

                .product-rate {
                    // background: #ccc;
                    grid-column: 2/3;
                    grid-row: 2/3;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: #ffd966;
                }
            }

            &:hover {
                .item-picture{
                    transform: scale(1.4);
                }

                .item-button-single {
                    transform: translateX(-110px);
                }
            }
        }

    }
}

/*Page number*/
.page-number {

    .number-list {
        display: flex;
        width: 100%;
        height: 80px;
        justify-content: center;
        // align-items: center;
        background-color: #dcdcdc;
        
        li{
            display: flex;
            width: 40px;
            height: 40px;
            line-height: 100%;
            list-style: none;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            background-color: #fff;
            margin: 4px;
            cursor: pointer;
            font-weight: 400px;
            
            &.page,
            &:hover {
                color: white;
                background: #03a9f4;
            }

        }
    }
}

/*Responsive*/ 
@media only screen and (max-width: 1199px) {
    .product .list-product {
        width: 100%;
    }
}